*,
*::before,
*::after {
	box-sizing: border-box;
}

/**********************************/
/* 0. Variáveis
/* 1. Container
/* 2. Menu
/* 3. Header
/* 4. Quem somos
/* 5. Nossos cursos
/* 6. Planos
/* 7. Vantagens
/* 8. Newsletter
/* 9. Footer
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/
:root{
    --ff--primary: "Nunito", Helvetica, Times-new-roman, sans-serif;

    --clr-gr
}
/**********************************/
/* 1. Estilos gerais
/**********************************/

/**********************************/
/* 2. Menu
/**********************************/

/**********************************/
/* 3. Header
/**********************************/

/**********************************/
/* 4. Quem somos
/**********************************/

/**********************************/
/* 5. Nossos cursos
/**********************************/

/**********************************/
/* 6. Planos
/**********************************/

/**********************************/
/* 7. Vantagens
/**********************************/

/**********************************/
/* 8. Newsletter
/**********************************/

/**********************************/
/* 9. Footer
/**********************************/



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgb(10, 10, 10);
}

.active {
    background-color: #04AA6D;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}



.header {
    background-color: rgb(10, 10, 10);
    color: #ffffff;
    padding: 15px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
    background-color: #0099cc;
}

@media screen and (max-width: 600px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}