html {
    font-family: "Lucida Sans", sans-serif;
}

* {
    box-sizing: border-box;
    background-color: black;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {
    width: 7.6%;
}

.col-2 {
    width: 12,5%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.right {
    position: absolute;
    right: 10%;
    width: 560px;
    height: 315px;
    border: 3px solid #2A6E00;
    padding: 10px;
  }